{
    "text" : {
        "panefeature" : {
            "type" : "panefeature",
            "offset" : [0, 0]
        },

        "background" : {
            "type" : "background",
            "fileHeader" : "",
            "fileBody" : "/interface/rightBarTooltipBg.png?scalenearest:2;1?crop;0;0;118;14",
            "fileFooter" : ""
        },
        
        "descriptionLabel" : {
            "type" : "label",
            "position" : [0, 0],
            "hAnchor" : "mid",
            "vAnchor" : "mid",
            "wrapWidth" : 280,
            "zlevel" : 1
        }
    },
    "scriptedItemList" : {
        "paneLayer" : "Tooltip",
        "dismissable" : false,
        
        "gui" : {
            "panefeature" : {
                "type" : "panefeature",
                "anchor" : "BottomLeft",
                "offset" : [0, 0],
                "positionLocked" : true
            },
            "background" : {
                "type" : "background",
                "fileHeader" : "/interface/craftingtooltip/header.png",
                "fileBody" : "/interface/craftingtooltip/body.png",
                "fileFooter" : "/interface/craftingtooltip/footer.png"
            },
            "title" : "replace me",
            "itemList" : {
                "type" : "layout",
                "layoutType" : "basic",
                "rect" : [0, 21, 145, 22],
                "position" : [0, 0],
                "children" : {}
            }
        },
  
        "scripts" : [ "/shared/darkcraft8/d8ToolTipUtil/scriptedTooltip/itemList.lua" ],
        "scriptDelta" : 1,
        "scriptWidgetCallbacks" :[
            "null",
            "close"
        ],

        "itemSlotList" : {}
    }
}