{
    "gui" : {
      "panefeature" : {
        "type" : "panefeature"
      },
      "background" : {
        "type" : "background",
        "fileHeader" : "/interface/warping/warpheader.png",
        "fileBody" : "/interface/warping/warpbody.png",
        "fileFooter" : "/interface/warping/warpfooter.png"
      },
      "hidenCanvas" : {
        "zlevel" : -1,
        "type" : "canvas",
        "rect" : [0, 0, 1, 1],
        "captureMouseEvents" : false,
        "captureKeyboardEvents" : true
      },
      "close" : {
        "type" : "button",
        "callback" : "close",
        "base" : "/interface/x.png",
        "hover" : "/interface/xhover.png",
        "pressed" : "/interface/xpress.png",
        "pressedOffset" : [0, 0],
        "position" : [171, 161]
      },
      
      "windowtitle" : {
        "type" : "title",
        "title" : "Canvas Keybinds",
        "subtitle" : "Rebind Canvas binds",
        "icon" : {
          "type" : "image",
          "file" : "/interface/warping/icon.png",
          "zlevel" : -1
        }
      },

      "bind" : {
        "type" : "scrollArea",
        "rect" : [3, 48, 184, 148],
        "children" : {
          "list" : {
            "type" : "list",
            "callback" : "selectBinds",
            "schema" : {
              "selectedBG" : "/assetmissing.png?crop;0;0;1;1?replace=fff0;ffff?scale=8?scale;22;1?brightness=-50",
              "unselectedBG" : "/assetmissing.png?crop;0;0;1;1?replace=fff0;ffff?scale=8?scale;22;1?brightness=-65",
              "spacing" : [0, 2],
              "memberSize" : [170, 8],
              "listTemplate" : {
                "background" : {
                  "type" : "image",
                  "file" : "/assetmissing.png?crop;0;0;1;1?replace=fff0;ffff?scale=8?scale;22;1?brightness=-75",
                  "position" : [0, 0],
                  "zlevel" : -3
                },
                "keyLbl" : {
                  "type" : "label",
                  "position" : [2, 0],
                  "hAnchor" : "left",
                  "width" : 120,
                  "value" : "Key",
                  "color" : [255, 255, 255],
                  "mouseTransparent" : true
                },
                "nameLbl" : {
                  "type" : "label",
                  "position" : [165, 0],
                  "hAnchor" : "right",
                  "width" : 120,
                  "value" : "Bind",
                  "color" : [255, 255, 255],
                  "mouseTransparent" : true
                }
              }
            }
          }
        }
      }
    },
    
    "canvasClickCallbacks" : {
        "hidenCanvas" : "canvasClickEvent"
    },
    "canvasKeyCallbacks" : {
        "hidenCanvas" : "canvasKeyEvent"
    },

    "scripts" : [ "/shared/darkcraft8/canvas/pane/keybind.lua" ],
    "scriptDelta" : 5,

    "scriptWidgetCallbacks" : [
        "close",
        "selectBinds"
    ]
}